<% content_for(:admin) do %>
  <ul>
    <li class="first"><%= link_to 'New Article', new_article_url %></li>
    <li><%= link_to 'Pages', pages_url %></li>
    <li><%= link_to 'New Page', new_page_url %></li>
    <li class="last"><%= link_to 'Logout', logout_url %></li>
  </ul>
<% end %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'articles' %>
  <%= auto_discovery_link_tag(:atom, articles_url(:format => 'atom')) %>
<% end %>

<div class="articles">
  <%= render :partial => @articles, :locals => { :summary => true } %>
</div>