<% title "Articles" %>

<% content_for(:admin) do %>
  <ul>
    <li class="first"><%= link_to 'New Article', new_article_url %></li>
    <li><%= link_to 'Pages', pages_url %></li>
    <li><%= link_to 'New Page', new_page_url %></li>
    <li class="last"><%= link_to 'Logout', logout_url %></li>
  </ul>
<% end %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'articles' %>
  <%= auto_discovery_link_tag(:atom, articles_url(:format => 'atom')) %>
<% end %>

<% content_for(:scripts) do %>
  <%= render :partial => 'shared/disqus' %>
<% end %>

<div class="right">
  <h3 class="page-title"><%= @title %></h3>
</div>

<div class="right">
  <div class="pagination">
    <%= will_paginate %>  
  </div>  
</div>

<br style="clear: both;" />
<div class="articles">
  <% if @articles.empty? %>
    <div class="right">
      <p>No articles have been posted yet.</p>      
    </div>
  <% else %>
    <% for article in @articles %>
      <%= render :partial => 'articles/item', :locals => { :article => article }%>    
    <% end %>
  <% end %>
</div>
<br style="clear: both;" />

<div class="right">
  <div class="pagination">
    <%= will_paginate %>  
  </div>  
</div>



