<% title @article.title %>

<% content_for(:admin) do %>
  <ul>
    <li class="first"><%= link_to 'Edit Article', edit_article_url(@article) %></li>
    <li><%= link_to 'Delete Article', article_url(@article), :method => :delete, :confirm => 'Delete this article - are you sure?' %>
    <li class="last"><%= link_to 'Logout', logout_url %></li>
  </ul>
<% end %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'articles' %>
<% end %>

<%= render :partial => @article %>

<div class="comments">
  <div class="right">
    <% if request.host == 'localhost' %>
      <script>var disqus_developer=1</script>
    <% end %>
    <% if forum = Hubbub::Config[:disqus_forum] %>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/<%= forum %>/embed.js"></script><noscript><a href="http://disqus.com/forums/<%= forum %>/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    <% else %>
      <p>
        To enable comments, set the 'disqus_forum' field in your 'hubbub.yml'
        file and restart your server.
      </p>
    <% end %>
  </div>
  <div class="left">
    <div class="comments-heading">Comments</div>
  </div>
</div>

<br style="clear: both;" />