<ul class="groups">
  <li class="meetup">
    <span class="category">meetup</span>
    <ul class="items">
      <li><%= link_to 'Twitter', 'http://twitter.com/rapodaca' %></li>
      <li><%= link_to 'FriendFeed', 'http://friendfeed.com/rapodaca'%></li>
      <li><%= link_to 'GitHub', 'http://github.com/rapodaca' %></li>
      <li><%= link_to 'Chempedia', 'http://chempedia.com/users/1/rich-apodaca'%>
      <li><%= link_to 'Chempedia Lab', 'http://lab.chempedia.com/users/5/rich-apodaca' %></li>
      <li><%= link_to 'LinkedIn', 'http://www.linkedin.com/in/apodaca' %></li>
      <li><%= link_to 'StackOverflow', 'http://stackoverflow.com/users/54426/rich-apodaca' %></li>
    </ul>
  </li>
</ul>