<ul class="groups">
  <li class="meetup">
    <span class="category">meetup</span>
    <ul class="items">
      <li><%= link_to 'Twitter', 'http://twitter.com' %></li>
      <li><%= link_to 'FriendFeed', 'http://friendfeed.com'%></li>
      <li><%= link_to 'GitHub', 'http://github.com' %></li>
      <li><%= link_to 'LinkedIn', 'http://www.linkedin.com' %></li>
      <li><%= link_to 'StackOverflow', 'http://stackoverflow.com' %></li>
    </ul>
  </li>
</ul>