<% title "Edit Page" %>

<% content_for(:admin) do %>
  <ul>
    <li class="first"><%= link_to 'All Pages', pages_url %></li>
    <li><%= link_to 'View Page', page_url(@page) %>
    <li class="last"><%= link_to 'Logout', logout_url %></li>
  </ul>
<% end %>

<h2 class="title"><%= @title %></h2>

<%= render :partial => 'form' %>