<% title "Pages" %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'pages' %>
<% end %>

<% content_for(:admin) do %>
  <ul>
    <li class="first"><%= link_to 'New Page', new_page_url %></li>
    <li class="last"><%= link_to 'Logout', logout_url %></li>
  </ul>
<% end %>

<div class="right">
  <h3 class="page-title"><%= @title %></h3>
</div>
<br style="clear: both;" />
<div class="pages">
  <% for page in @pages %>
    <%= render :partial => 'pages/item', :locals => { :page => page } %>    
  <% end %>
</div>


