<% title "Articles Tagged \"#{@tag.slug}\""%>

<% content_for(:admin) do %>
  <ul>
    <li class="first"><%= link_to 'Edit Tag', edit_tag_url(@tag) %></li>
    <li><%= link_to 'Delete Tag', tag_url(@tag), :method => :delete, :confirm => 'Delete this tag - are you sure?' %></li>
    <li class="last"><%= link_to 'Logout', logout_url %></li>
  </ul>
<% end %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'articles' %>
  <%= auto_discovery_link_tag(:atom, tag_url(@tag, :format => 'atom')) %>
<% end %>

<% content_for(:scripts) do %>
  <%= render :partial => 'shared/disqus' %>
<% end %>

<div class="right">
  <h3 class="page-title"><%= @title %></h3>
</div>
<div class="right">
  <div class="pagination">
    <%= will_paginate(@articles) %>  
  </div>  
</div>
<br style="clear: both;" />
<div class="articles">
  <% for article in @articles %>
    <%= render :partial => 'articles/item', :locals => { :article => article }%>    
  <% end %>
</div>
<br style="clear: both;" />
<div class="right">
  <div class="pagination">
    <%= will_paginate(@articles) %>  
  </div>  
</div>
