<% title "Articles Tagged '#{@tag.slug}'"%>

<% content_for(:admin) do %>
  <ul>
    <li class="first"><%= link_to 'Edit Tag', edit_tag_url(@tag) %></li>
    <li><%= link_to 'Delete Tag', tag_url(@tag), :method => :delete, :confirm => 'Delete this tag - are you sure?' %></li>
    <li class="last"><%= link_to 'Logout', logout_url %></li>
  </ul>
<% end %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'articles' %>
  <%= auto_discovery_link_tag(:atom, tag_url(@tag, :format => 'atom')) %>
<% end %>

<h2 class="title"><%= @title %></h2>

<%= render :partial => @articles, :locals => { :summary => true } %>