<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg-flat.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag 'resets', 'base', 'formtastic', 'formtastic_changes', 'humanmsg', 'comments' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery_cookies' %>
    <%= javascript_include_tag 'humanmsg' %>
    <%= javascript_include_tag 'hubbub' %>
    <link rel="icon" type="image/png" href="/favicon.png">
    <%= yield(:head) %>
  </head>
  <body>
    <% if flash[:notice] %>
      <div id="message">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if current_user && (admin_menu = yield(:admin)) %>
      <div id="admin">
        <div class="main">
          <%= admin_menu %>
        </div>
      </div>
    <% end %>
    <div id="container" class="main" >
      <div id="header" class="section">
        <%= render :partial => 'shared/header' %>
      </div>
      <div id="body" class="section">
        <%= yield %>
      </div>
      <div id="footer" class="section">
        <%= render :partial => 'shared/footer' %>
      </div>
      <div id="copyright">
        <%= render :partial => 'shared/copyright' %>
      </div>
    </div>
    <%= render :partial => 'shared/scripts' %>
    <%= yield(:scripts) %>
  </body>
</html>