<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg-flat.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
    <title><%= config[:title] %> - Login</title>
    <%= stylesheet_link_tag 'resets', 'base', 'logins', 'formtastic', 'formtastic_changes', :cache => 'cache' %>
    <link rel="icon" type="image/png" href="/favicon.png">
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="header" class="section">
        <%= render :partial => 'shared/header' %>
      </div>
      <div id="body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>